<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>


    <appender name="LOG-FILE-APPENDER" class="org.apache.log4j.FileAppender">
        <param name="file" value="/logs/all.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n"/>
        </layout>
    </appender>

    <category name="ru.tsystems.tsproject.ecare">
        <appender-ref ref="LOG-FILE-APPENDER"/>
    </category>

    <root>
        <priority value="All"/>
        <appender-ref ref="LOG-FILE-APPENDER"/>
    </root>

</log4j:configuration>