.login-panel {
    margin-top: 25%;
}

.top-buffer { margin-top: 20px; }

.contract-active {
    color: limegreen;
}

.contract-inactive {
    color: gray;
}

.contract-blocked {
    color: red;
}

.click-row {
    cursor: pointer;
}